[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "==1.0.4"
mkdocs-material = "==4.0.2"
purplship = "==2019.4.0"
Sphinx = "==1.8.5"

[requires]
python_version = "3.6"
